/***** /MUDE O msg PARA IDENTIFICAÇÃO DO SEU ELEMENTO, QUE ESTÁ NO INDEX CASO QUEIRA ADC EM OUTRO ELEMENTO *****/
/* CASO CONTRÁRIO O CÓDIGO ESTÁ PRONTO PARA USO*/ 


#msg::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite ;
    animation-delay: 0.2s;
}

@keyframes pisca {
    0% {
        opacity: 1;
    }
   50% {
      opacity: 0;
    }
}
h1{
    text-align: center;
}
.container{
    background-color: rgb(7, 18, 53);
    color: white;
    text-transform: uppercase;
    padding: 5%;
    margin: 15%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid gray;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 10px 10px 10px black;

}